---
import Content from "./Content.astro";

interface Props {
  title?: string;
  body?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
  colorText?: string;
  height?: string;
  width?: string;
  backgroundImageUrl?: string;
}

const {
  title,
  body,
  colSpan,
  rowSpan,
  href,
  colorText,
  height,
  backgroundImageUrl,
} = Astro.props;
---

<div
  class={`card bg-cover h-max sm:h-auto group overflow-hidden transform-y-[-40%] bg-[#161616] border border-[#161616] hover:border-white hover:duration-300 shadow-lg rounded-lg p-6 align-start flex-none ${
    height || "h-full"
  } justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 ${
    colSpan || "md:col-span-2"
  } ${rowSpan || ""}`}
  style={{ backgroundImage: `url(${backgroundImageUrl})` }}
>
  {
    href ? (
      <a href={href} class={`h-full w-full ${colorText || ""}`}>
        <Content title={title} body={body}>
          <slot />
        </Content>
      </a>
    ) : (
      <Content title={title} body={body}>
        <slot />
      </Content>
    )
  }
</div>
