---
import Content from "./Content.astro";
interface Props {
  bool?: string;
  title?: string;
  body?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
  colorText?: string;
  height?: string;
  width?: string;
  backgroundImageUrl?: string;
}

const {
  bool,
  title,
  body,
  colSpan,
  rowSpan,
  href,
  colorText,
  height,
  backgroundImageUrl,
} = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class={`col-span-1 ${colSpan || "md:col-span-2"} ${rowSpan || ""} block h-full w-full`}
    >
      <div
        class={`card flex flex-col h-full w-full group overflow-hidden bg-[#161616] border border-[#161616] hover:border-white hover:duration-300 shadow-lg rounded-lg p-6 align-start ${height || "h-full"} justify-start relative transform perspective-1200 transition duration-75 ease-in-out ${colorText || ""}`}
        style={{
          backgroundImage: `url(${backgroundImageUrl})`,
          backgroundSize: "cover",
          objectFit: "contain",
        }}
      >
        <Content title={title} body={body}>
          <slot />
        </Content>
        {bool ? (
        <svg
          class="h-6 absolute bottom-0 md:m-2 lg:m-5 right-0 group-hover:text-primary-500 group-hover:translate-x-2 transition-transform ease-in-out duration-100 z-20"
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886"
          />
        </svg>
        ) : ("")}
      </div>
    </a>
  ) : (
    <div
      class={`col-span-1 ${colSpan || "md:col-span-2"} ${rowSpan || ""} block h-full w-full`}
    >
      <div
        class={`card flex h-full w-full group overflow-hidden bg-[#161616] border border-[#161616] hover:border-white hover:duration-300 shadow-lg rounded-lg p-6 align-start ${height || "h-full"} justify-start relative transform perspective-1200 transition duration-75 ease-in-out ${colorText || ""}`}
        style={{
          backgroundImage: `url(${backgroundImageUrl})`,
          backgroundSize: "cover",
          objectFit: "contain",
        }}
      >
        <Content title={title} body={body}>
          <slot />
        </Content>
      </div>
    </div>
  )
}
