---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Intro.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact/Contact.astro";
import Time from "../components/Time.astro";
import Work from "../components/Work.astro";
import Skill from "../components/Skill.astro";
import Showtime from "../components/Showtime.astro";
import Techno from "../components/Techno.astro";
import Form from "../components/Contact/Content.astro";
import { works } from "../lib/constants.js";
import { technologies } from "../lib/constants.js";
---

<Layout title="Thomas-Web">
	<div class="md:pt-0 pt-10">
		<main
			class="text-white m-auto p-2 grid gap-2 max-w-6xl relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-7 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
		>
			<Presentation />
			<About />
			<Contact />
			<Time />
			<Work />
			<Skill />
		</main>
		<section
			id="projet"
			class="text-white m-auto p-2 grid gap-2 max-w-6xl sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-rows-1 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
		>
			<h2
				class="md:pt-24 pb-4 pt-20 md:text-start text-center text-white text-3xl font-bold col-span-full h2-courbe"
			>
				Quelqu'uns de mes<br />
				<b class="text-[#FF6E40]">travaux</b>
				que j'ai réalisé
			</h2>
		</section>
		<!-- Works -->
		<div>
			<section
				class="text-white m-auto p-2 grid gap-2 max-w-6xl relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-3 lg:gap-4 lg:max-h-[800px]"
			>
				{
					works.map((work) => (
						<Showtime
							href={work.link}
							title={work.title}
							description={work.description}
							langage={work.langage}
							icon={work.icon}
							image={work.image}
						/>
					))
				}
			</section>
		</div>
		<!-- Technologies -->
		<section
			id="technologie"
			class="text-white m-auto p-2 grid gap-2 max-w-6xl sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-rows-1 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
		>
			<h2
				class="md:pt-24 pb-4 pt-20 md:text-start text-center text-white text-3xl font-bold col-span-full h2-courbe"
			>
				Quel sont les<br />
				<b class="text-[#FF6E40]">technologies</b>
				que j'utilise
			</h2>
		</section>
		<div>
			<section
				class="text-white m-auto p-2 grid gap-2 max-w-6xl relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-rows-2 lg:grid-cols-5 lg:gap-4 lg:max-h-[800px]"
			>
				{
					technologies.map((tech) => (
						<Techno name={tech.name} icon={tech.icon} />
					))
				}
			</section>
		</div>
		<!-- Contact -->
		<section
			id="contact"
			class="text-white m-auto p-2 grid gap-2 max-w-6xl sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-rows-1 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
		>
			<h2
				class="md:pt-24 pb-4 pt-20 md:text-start text-center text-white text-3xl font-bold col-span-full h2-courbe"
			>
				<b class="text-[#FF6E40]">Contactez-moi</b>
			</h2>
		</section>
		<div>
			<section
			>
			<Form />
			</section>
		</div>
	</div>
</Layout>

<style>
	.astro-a {
		position: absolute;
		left: 50%;
		top: 25%;
		transform: translatex(-50%);
		width: 520px;
		height: auto;
		z-index: -1;
	}
	@media screen and (min-width: 900px) {
		.h2-courbe {
			margin: 20px;
		}
		.h2-courbe::after {
			content: url("/Line.svg");
			display: block;
			transform: translateY(-20px);
		}
	}
</style>
