---
import Card from "./Card/Card.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title?: string;
  description?: string;
  langage?: string;
  icon?: string;
  href?: string;
  image?: string;
}

const { title, description, icon, langage, href, image } = Astro.props;
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2 lg:row-span-4"
  title={title}
  href={href}
>
  <div
    class="absolute top-0 right-0 w-8 h-8 m-2 flex items-center justify-center bg-white rounded-full"
  >
    <Icon name={icon} />
  </div>
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col w-full">
      <div class="py-4 w-full h-40 md:h-40">
        <img src={image} class="rounded w-full h-full object-cover" />
      </div>
      <span class="text-sm italic text-gray-300 pb-3">
        {description}
      </span>
      <span class="text-sm text-[#FF6E40] font-bold">
        {langage}
      </span>
    </div>
  </div>
</Card>

<style lang="css">
  [data-icon] {
    color: rgb(0, 0, 0);
    /* OR */
    fill: rgb(0, 0, 0);
  }
</style>
